body {
    font-family: 'Times New Roman', Times, serif;
    background-image:url("https://images.pexels.com/photos/1701595/pexels-photo-1701595.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-repeat:no-repeat;
    background-size: cover;
  }
  
  header {
    text-align: center;
  }
  
  main {
    margin: 50px 200px;
  }
  
  form, #received-container {
    background-color: transparent;
    border-radius: 10px;
    margin: 50px;
    padding: 20px 50px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.8) ;
  }
  
  ul {
    list-style: none;
  }
  
  input {
    display: block;
    margin: 10px 0px;
    border: none;
    width: 75%;
    border-bottom: solid black 1px;
    background-color: rgb(253, 233, 255);
    padding: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  #btn-con {
    text-align: center;
  }
  
  .btn {
    padding: 10px 25px;
    font-family: sans-serif;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(224, 120, 212);
    border: solid 2px rgb(224, 120, 212);
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: transparent;
  }
  
  #received-container {
    display: none;
    text-align: center;
  }
  
  #received-container textarea {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    resize: none;
    border-radius: 8px;
  }